# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. MatPlotlib
4. Seaborn
5. Plotly

| Data Science Tools |
|----------|
| Jupyter |
| TensorFlow |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by dividing by 60
print("200 minutes are ",round(200/60,1)," hours")

200 minutes are  3.3  hours

Objectives:

+ Create a Jupyter Notebook
+ Insert code and markdown cells
+ List popular languages for Data Science

## Author

P.Karaoulanis